
<div class="container">
    <div class="row">
      <div class="col md-6">
        <div class="card">
          <div class="text-center">
            <h1>Sign Up</h1>
            <h6>Register yourself</h6>
          </div>
          <form >
           <form [formGroup]="signupForm" >
            <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="fullname">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">mobile no.</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mobile">
                    
                  </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
              </div>
             
              <button type="submit" (click)="signup()"  class="btn btn-primary mb-2">sign up</button>
            
           </form>
        </form>

        </div>
  
      </div>
  
    </div>
  
  </div>
  
  
