<p>header works!</p>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
    <div class="container-fluid" >
         <a class="navbar-brand" routerLink="flight"> Flights</a>
        <a class="navbar-brand" routerLink="hotels"> Hotels</a>
        <a  class="navbar-brand"routerLink="layout"> Cabs</a>
        <a  class="navbar-brand"routerLink="#"> Holiday Package</a>
        <a class="navbar-brand" routerLink="login"> Login</a>
        <a class="navbar-brand"routerLink="signup">SignUp</a>
        <a class="navbar-brand" routerLink="#"> Admin</a>
        <a  class="navbar-brand"routerLink="#"> Logout</a>
    </div>   
</nav>
