<p>hotels works!</p>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Enter City/Hotel
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">mumbai</a>
      <a class="dropdown-item" href="#">delhi</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">pune</a>
    </div>
  </li>
  <label for="checkedIn">checkedIn</label>:<input type="datetime-local">

